{{ header }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type" : "BreadcrumbList",
    "itemListElement" : [
      {% for i, breadcrumb in breadcrumbs %}
        {
          "@type" : "ListItem",
          {% set i_plus = i+1 %}
          "position" : "{{ i_plus }}",
          "item" : {
            "@type" : "Thing",
            "@id": "{{ breadcrumb.href }}",
            "name": "{{ breadcrumb.text }}"
          }
        }{% if(i_plus < breadcrumbs|length) %}{{ ',' }}{% endif %}
      {% endfor %}
    ]
  }
</script>
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      
      