{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3><span class="badge badge-danger pull-right" style="font-size:10px;font-weight:normal !important;">{{new_version_notification}}</span>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_notify_product" data-toggle="tab">{{tab_notify_product}}</a></li>
            <li><a href="#tab-general" data-toggle="tab">{{tab_general}}</a></li>
            <li><a href="#tab-email" data-toggle="tab">{{tab_email}}</a></li>
          </ul>
          <div class="tab-content">

            <div class="tab-pane active" id="tab_notify_product">
              <div class="row">
                <div class="col-lg-12" id="product_body">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="module_notify_when_available_status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="module_notify_when_available_status" id="module_notify_when_available_status" class="form-control">
                    {% if module_notify_when_available_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="module_notify_when_available_stock">{{ entry_out_of_stock }}</label>
                <div class="col-sm-10">
                  <select name="module_notify_when_available_stock" id="module_notify_when_available_stock" class="form-control">
                     {% if module_notify_when_available_stock %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="module_notify_when_available_notify">{{ entry_notify_button }}</label>
                <div class="col-sm-10">
                  <select name="module_notify_when_available_notify" id="module_notify_when_available_notify" class="form-control">
                     {% if module_notify_when_available_notify %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-email">
              <h3>{{heading_email_to_customer}}</h3>
              <hr>
              <ul class="nav nav-tabs" id="mobule_nwa">
                {% for language in languages %}
                <li><a href="#notify_language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
              {% for language in languages %}
                <div class="tab-pane" id="notify_language{{ language.language_id }}">
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="module_notify_when_available_email_subject{{language.language_id}}">
                      <span data-toggle="tooltip" title="{{help_email_subject}}">{{entry_email_subject}}</span></label>
                    <div class="col-sm-10">
                      <input type="text" name="module_notify_when_available_email_subject[{{language.language_id}}][subject]" value="{{module_notify_when_available_email_subject[language.language_id].subject}}" placeholder="{{entry_wallet_email_subject}}" id="module_notify_when_available_email_subject{{language.language_id}}" class="form-control" />
                      {% if error_module_notify_when_available_email_subject[language.language_id] %}
                      <span class="error text-danger">{{error_module_notify_when_available_email_subject[language.language_id]}}</span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label" for="module_notify_when_available_email_body{{language.language_id}}"><span data-toggle="tooltip" title="{{help_email_body}}">{{entry_email_body}}</span>
                  <span class="pre"><br><br>
                    Используйте шорткоды:
                    <p>{name} - Имя клиента<br>
                    {product_url} - Ссылка на товар<br>
                    {product_name} - Название товара<br>
                  </p></span>
                  </label>
                  <div class="col-sm-10">
                    <textarea name="module_notify_when_available_email_body[{{language.language_id}}][body]" id="module_notify_when_available_email_body{{language.language_id}}" class="form-control" >{{module_notify_when_available_email_body[language.language_id].body}}</textarea>
                    {% if error_module_notify_when_available_email_body[language.language_id] %}
                      <span class="error text-danger">{{error_module_notify_when_available_email_body[language.language_id]}}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
            </div>

          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
  $('#tab_notify_product').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#product_body').load(this.href);
  });

  $('#product_body').load('index.php?route=extension/module/notify_when_available/products&user_token={{ user_token }}');
  //--></script> 
    <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
{% for language in languages %}
<script type="text/javascript"><!--
$('#module_notify_when_available_email_body{{language.language_id}}').summernote({
  height: 200,
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
  ]
});
$('#mobule_nwa_admin_email_body{{language.language_id}}').summernote({
  height: 200,
  toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
  ]
});
</script>
{% endfor %}

<script type="text/javascript"><!--
$('#mobule_nwa a:first').tab('show');
$('#mobule_nwa_admin a:first').tab('show');
//--></script>

{{ footer }}