<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td class="text-left">{{ column_customer }}</td>
        <td class="text-left">{{ column_product }}</td>  
        <td class="text-left">{{ column_message }}</td>
        <td class="text-left">{{ column_date_added }}</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% if products %}
      {% for product in products %}
      <tr>
        <td class="text-left" style="max-width:200px;">
          <strong>{{product.customer_name}}</strong>  
          {% if product.customer_id > 0 %}
            <a href="{{product.customer_edit}}" target="_blank">{{product.customer_email}}</a>
          {% else %}
            {{product.customer_email}}
          {% endif %}
        </td>
        <td class="text-left cart_product">
          <a href="{{product.product_edit}}" target="_blank">{{product.product_name}}</a>
        </td>
        <td class="text-left">{{ product.message }}</td>
        <td class="text-left">{{ product.date_added }}</td>
        <td class="text-right"><a href="{{ product.remove }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a></td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td class="text-center" colspan="5">{{ text_no_results }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>