<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    {#<p>{{ powered }}</p>#}
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

        {% if smca_form_data['customer_groups'] %}
            {% set customer_groups = smca_form_data['customer_groups'] %}
        {% else %}
            {% set customer_groups = {} %}
        {% endif %}
        {% if smca_form_data['stores'] %}
            {% set stores = smca_form_data['stores'] %}
        {% else %}
            {% set stores = {} %}
        {% endif %}

        {% if smca_form_data['activate'] and (smca_customer_group_id not in customer_groups) and (smca_store_id not in stores) %}
        <script type="text/javascript">
          $(function() {
            $.ajax({
              type: 'get',
              url:  'index.php?route=extension/module/ocdev_smart_cart/cartProducts',
              dataType: 'json',
              success: function(json) {
                // one step
                $.each($("[onclick^='"+json['add_function_selector']+"']"), function() {
                  var product_id = $(this).attr('onclick').match(/[0-9]+/);
                    $(this)
                    .attr('onclick', 'getOCwizardModal_smca(\'' + $(this).attr('onclick').match(/[0-9]+/) + '\',\'' + 'add' + '\');')
                    .addClass('smca-call-button');
                });
                var product_id_in_page = $("input[name='product_id']").val();
                  $('#'+json['add_id_selector'])
                  .unbind('click')
                  .attr('onclick', 'getOCwizardModal_smca(\'' + product_id_in_page + '\',\'' + 'add_option' + '\');');
                // two step
                if (json['cart_products']) {
                  $.each(json['cart_products'], function(i,value) {
                    $('[onclick="getOCwizardModal_smca(\'' + value + '\',\'' + 'add' + '\');"]')
                    .html('<i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">' + json['text_in_cart'] + '</span>')
                    .attr('onclick', 'getOCwizardModal_smca(\'' + value + '\',\'' + 'load' + '\');');
                    $('[onclick="getOCwizardModal_smca(\'' + value + '\',\'' + 'add_option' + '\');"]')
                    .html(json['text_in_cart'])
                    .attr('onclick', 'getOCwizardModal_smca(\'' + value + '\',\'' + 'load_option' + '\');');
                  });
                }
                if (json['cart_products_vs_options']) {
                  $.each(json['cart_products_vs_options'], function(i,value) {
                    $('[onclick="getOCwizardModal_smca(\'' + value + '\',\'' + 'add' + '\');"]')
                    .html('<i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">' + json['text_in_cart'] + '</span>');
                    $('[onclick="getOCwizardModal_smca(\'' + value + '\',\'' + 'add_option' + '\');"]')
                    .html(json['text_in_cart_vs_options']);
                  });
                }
              }
            });
          });
          function getOCwizardModal_smca(product_id, action) {
            quantity = typeof(quantity) != 'undefined' ? quantity : 1;
            if (action == "add") {
              $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: 'product_id=' + product_id + '&quantity=' + quantity,
                dataType: 'json',
                success: function(json) {
                  if (json['redirect']) {
                    location = json['redirect'];
                  }
                  if (json['success']) {
                    buttonManipulate();
                    getOCwizardModal_smca(product_id,'load');
                    $('#cart-total').html(json['total']);
                  }
                }
              });
            }

            if (action == "load" || action == "load_option") {
              $.magnificPopup.open({
                tLoading: '<img src="catalog/view/theme/default/stylesheet/ocdev_smart_cart/loading.svg" alt="" />',
                items: {
                  src: 'index.php?route=extension/module/ocdev_smart_cart',
                  type: 'ajax'
                },
                showCloseBtn: false
              });
              $('.mfp-bg').css({
                'background': 'url(image/ocdev_smart_cart/background/{{ smca_form_data['style_beckground'] }})',
                'opacity': '{% if smca_form_data['background_opacity'] == 0 %}{{ smca_form_data['background_opacity'] }}{% else %}{{ smca_form_data['background_opacity']/10 }}{% endif %}'
              });
            }

            if (action == "add_option") {
              $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function() {
                  $('#button-cart').button('loading');
                },
                complete: function() {
                  $('#button-cart').button('reset');
                },
                success: function(json) {
                  $('.alert, .text-danger').remove();
                  $('.form-group').removeClass('has-error');

                  if (json['error']) {
                    if (json['error']['option']) {
                      for (i in json['error']['option']) {
                        var element = $('#input-option' + i.replace('_', '-'));

                        if (element.parent().hasClass('input-group')) {
                          element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                        } else {
                          element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                        }
                      }
                    }
                    $('.text-danger').parent().addClass('has-error');
                  }
                  if (json['success']) {
                    buttonManipulate();
                    getOCwizardModal_smca(product_id, 'load_option');
                    $('#cart-total').html(json['total']);
                  }
                }
              });
            }
          }
        </script>
        {% endif %}
      

            {% if oc_settings.status %}
            <script type="text/javascript">var oc_params = {"product_position":"{{ oc_settings.product_position }}","product_element":"{{ oc_settings.product_element }}","list_selector":"{{ oc_settings.list_selector }}","product_btn_block_class":"{{ oc_settings.product_btn_block_class }}","product_btn_class":"{{ oc_settings.product_btn_class }}","show_in_cat":{{ oc_settings.show_in_cat }},"show_in_prod":{{ oc_settings.show_in_prod }},"button_text":"{{ oc_localisation.oc_button_text }}","close_button_text":"{{ oc_localisation.close_button_text }}","descr_show_text":"{{ oc_localisation.description_show_text }}","descr_hide_text":"{{ oc_localisation.description_hide_text }}","order_button_text_loading":"{{ oc_localisation.order_button_text_loading }}","order_button_text":"{{ oc_localisation.order_button_text }}","list_btns":[{% for btn in oc_list_btns %}{"list_element":"{{ btn.list_element }}","list_product_block":"{{ btn.list_product_block }}","list_position":{{ btn.list_position }},"list_btn_class":"{{ btn.list_btn_class }}","list_btn_block_class":"{{ btn.list_btn_block_class }}"},{% endfor %}]};</script>
            {% endif %}
            <style>{% if oc_settings.wrapper_bg %}.mfp-bg{background:{{ oc_settings.wrapper_bg }} }{% endif %}{% if oc_settings.wrapper_opacity %}.mfp-bg{opacity:{{ oc_settings.wrapper_opacity }} }{% endif %}{% if oc_settings.head_footer_bg%}.oc-head,.oc-footer{background:{{ oc_settings.head_footer_bg }} }{% endif %}{% if oc_settings.form_bg%}.oc-body{background:{{ oc_settings.form_bg }} }{% endif %}{% if oc_settings.checkout_button_bg%}.oc .btn-success{background:{{ oc_settings.checkout_button_bg }};border-color:{{ oc_settings.checkout_button_bg }};}{% endif %}{% if oc_settings.checkout_button_bg_hover%}.oc .btn-success:hover,.oc .btn-success:focus{background:{{ oc_settings.checkout_button_bg_hover }};border-color:{{ oc_settings.checkout_button_bg_hover }};}{% endif %}{% if oc_settings.checkout_button_color%}.oc .btn-success{color:{{ oc_settings.checkout_button_color }} }{% endif %}{% if oc_settings.close_button_bg%}.oc .btn-danger{background:{{ oc_settings.close_button_bg }};border-color:{{ oc_settings.close_button_bg }};}{% endif %}{% if oc_settings.close_button_bg_hover%}.oc .btn-danger:hover,.oc .btn-danger:focus{background:{{ oc_settings.close_button_bg_hover }};border-color:{{ oc_settings.close_button_bg_hover }};}{% endif %}{% if oc_settings.close_button_color%}.oc .btn-danger{color:{{ oc_settings.close_button_color }} }{% endif %}{% if oc_settings.heading_font_color%}.oc-head,.mfp-close-btn-in .oc .mfp-close{color:{{ oc_settings.heading_font_color }} }{% endif %}{% if oc_settings.body_font_color%}.oc,.oc-pname,a.oc-show-descr{color:{{ oc_settings.body_font_color }} }a.oc-show-descr{border-color:{{ oc_settings.body_font_color }} }{% endif %}{% for btn in oc_list_btns %}{% if btn.list_btn_block_css  and  btn.list_btn_block_class %}.{{ btn.list_btn_block_class }} { {{ btn.list_btn_block_css|replace({"\n" : ""}) }} }{% endif %}{% if btn.list_btn_css  and  btn.list_btn_block_class  and  btn.list_btn_class %} .{{ btn.list_btn_block_class~' button.'~btn.list_btn_class }} { {{ btn.list_btn_css|replace({"\n" : ""}) }} }{% endif %}{% endfor %}{% if oc_settings.product_btn_block_css  and  oc_settings.product_btn_block_class%}.{{ oc_settings.product_btn_block_class }} { {{ oc_settings.product_btn_block_css }} }{% endif %}{% if oc_settings.product_btn_css  and  oc_settings.product_btn_block_class  and  oc_settings.product_btn_class%}.{{ oc_settings.product_btn_block_class~' button.'~oc_settings.product_btn_class }} { {{ oc_settings.product_btn_css }} }{% endif %}</style>
            
</body></html>