<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>

{% if noindex %}
<!-- OCFilter Start -->
<meta name="robots" content="noindex,nofollow" />
<!-- OCFilter End -->
{% endif %}
      
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link rel="{{ link.rel }}" href="{{ link.href }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

				{% if opengraphs is iterable %}
	                {% for opengraph in opengraphs %}
	                	<meta property="{{ opengraph.meta}}" content="{{ opengraph.content}}" />
	                {% endfor %}
                {% endif %}
				

        {% if smca_form_data['customer_groups'] %}
            {% set customer_groups = smca_form_data['customer_groups'] %}
        {% else %}
            {% set customer_groups = {} %}
        {% endif %}
        {% if smca_form_data['stores'] %}
            {% set stores = smca_form_data['stores'] %}
        {% else %}
            {% set stores = {} %}
        {% endif %}

        {% if smca_form_data['activate'] and (smca_customer_group_id not in customer_groups) and (smca_store_id not in stores) %}
        <script src="catalog/view/javascript/ocdev_smart_cart/jquery.magnific-popup.min.js?v={{ smca_form_data['front_module_version'] }}" type="text/javascript"></script>
        <link href="catalog/view/javascript/ocdev_smart_cart/magnific-popup.css?v={{ smca_form_data['front_module_version'] }}" rel="stylesheet" media="screen" />
        <link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/ocdev_smart_cart/stylesheet.css?v={{ smca_form_data['front_module_version'] }}"/>
        <script type="text/javascript" src="catalog/view/javascript/ocdev_smart_cart/ocdev_smart_cart.js?v={{ smca_form_data['front_module_version'] }}"></script>
        {% endif %}
      
</head>
<body>

        {% if out_of_stock_show %}
        <style type="text/css">
        .out_of_stock_label{
            color: #FFF;
            word-wrap: break-word;
            float: left;
            font-size: 12px;
            line-height: 22px;
            text-align: center;
            position: absolute;
            left: 24px;
            top: 10px;
            background: #000;
            padding: 0px 7px;
            border-radius: 5px;
            z-index: 1;
        }
        </style>
        {% endif %}
        {% if out_of_stock_notify %}
        <script type="text/javascript">
        function notify_when_available(product_id){
            $('#notify_when_available').modal('show');
            $('#notify_product_id').val(product_id);
        }
        $(document).ready(function(e){
            $('#notify_submit').click(function(e){
                $.ajax({
                    url: 'index.php?route=extension/module/notify_when_available/add_notify_request',
                    type: 'post',
                    dataType: 'json',
                    data: $("#notify_when_available form").serialize(),
                    beforeSend: function() {
                        $('#notify_submit').button('loading');
                    },
                    complete: function() {
                        $('#notify_submit').button('reset');
                    },
                    success: function(json) {
                        $('.alert-dismissible').remove();

                        if (json['error']) {
                            $('#notify_when_available form').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            $('#notify_when_available form').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
                            $('#notify_when_available input').val('');
                            $('#notify_when_available textarea').val('');
                            setTimeout(function(e){
                                $('#notify_when_available').modal('hide');
                            },1200);
                        }
                    }
                });
            });
        });
        </script>
        <div id="notify_when_available" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{notify_heading}}</h4>
                    </div>
                    <div class="modal-body">
                        <form id="notify_when_available" onclick="return false;">
                        <input type="hidden" name="notify_product_id" value="" id="notify_product_id">
                        <div class="form-group">
                            <label>{{entry_name_notify}}</label>
                            <input type="text" name="notify_name" id="notify_name" class="form-control" value="{{notify_name}}">
                        </div>
                        <div class="form-group">
                            <label>{{entry_email_notify}}</label>
                            <input type="text" name="notify_email" id="notify_email" class="form-control" value="{{notify_email}}">
                        </div>
                        <div class="form-group">
                            <label>{{entry_message_notify}}</label>
                            <textarea name="notify_message" id="notify_message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" id="notify_submit" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{button_notify_send}}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
       
<nav id="top">
  <div class="container">{{ currency }}
    {{ language }}
	{{ blog_menu }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
		<div id="logo">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
		</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>
{{ menu }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "{{ home_url }}",
        "logo": "{{ logo }}",
        "sameAs" : [{% if facebook %}"{{ facebook }}"{{ ',' }}{% endif %}{% if instagram %}"{{ instagram }}"{{ ',' }}{% endif %}{% if twitter %}"{{ twitter }}"{% endif %}],
        "contactPoint" :
        [{"@type" : "ContactPoint",
            "telephone" : "{{ telephone }}",
            "contactType" : "sales"}]
    }
</script>