{{ header }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type" : "LocalBusiness",
        "name": "{{ shop_name }}",
        "url": "{{ home_url }}",
        "logo": "{{ shop_logo }}",
        "image": "{{ shop_logo }}",
        "priceRange" : "от 100₴",
        "telephone" : "{{ telephone }}",
        "address" : "{{ address }}",
        "sameAs" : [{% if facebook %}"{{ facebook }}"{{ ',' }}{% endif %}{% if instagram %}"{{ instagram }}"{{ ',' }}{% endif %}{% if twitter %}"{{ twitter }}"{% endif %}]
    }
</script>
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

			{% if hb_snippets_kg_enable == '1' %}
				{{ hb_snippets_kg_data }}
			{% endif %}
			{% if hb_snippets_local_enable == 'y' %}
					{{ hb_snippets_local_snippet }}
			{% endif %}
			
{{ footer }}