.oneclick-module .btn-default.active.focus, .oneclick-module .btn-default.active:focus, .oneclick-module .btn-default.active:hover, .oneclick-module .btn-default:active.focus, .oneclick-module .btn-default:active:focus, .oneclick-module .btn-default:active:hover{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.oneclick-module .btn-default.active, .oneclick-module .btn-default:active {
    background-color: #75a74d;
    border-color: #5c843d;
    color: #fff;
}
.oneclick-module .btn-default.btn-danger {
    color: #555555;
    background-color: #ffffff;
    border-color: #cccccc;
}
.oneclick-module .btn-default.btn-danger.active.focus, .oneclick-module .btn-default.btn-danger.active:focus, .oneclick-module .btn-default.btn-danger.active:hover, .oneclick-module .btn-default.btn-danger:active.focus, .oneclick-module .btn-default.btn-danger:active:focus, .oneclick-module .btn-default.btn-danger:active:hover{
    color: #ffffff;
    background-color: #f23b3b;
    border-color: #ea1010;
}
.oneclick-module .btn-default.btn-danger.active, .oneclick-module .btn-default.btn-danger:active {
    color: #ffffff;
    background-color: #f56b6b;
    border-color: #f24545;
}
#tab-fields .table .nav-tabs {
    margin-bottom: 5px;
}
.oneclick-module .input-small {
    width: 104px;
}