{{ header }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type" : "BreadcrumbList",
    "itemListElement" : [
      {% for i, breadcrumb in breadcrumbs %}
        {
          "@type" : "ListItem",
          {% set i_plus = i+1 %}
          "position" : "{{ i_plus }}",
          "item" : {
            "@type" : "Thing",
            "@id": "{{ breadcrumb.href }}",
            "name": "{{ breadcrumb.text }}"
          }
        }{% if(i_plus < breadcrumbs|length) %}{{ ',' }}{% endif %}
      {% endfor %}
    ]
  }
</script>
<div id="information-sitemap" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
        <div class="col-sm-6">
          <ul>
            <li><a href="{{ home }}">{{ text_home }}</a></li>
            <li>{{ text_categories }}
              <ul>
                {% for category_1 in categories %}
                  <li><a href="{{ category_1.href }}">{{ category_1.name }}</a>
                    {% if category_1.children %}
                    <ul>
                      {% for category_2 in category_1.children %}
                      <li><a href="{{ category_2.href }}">{{ category_2.name }}</a>
                        {% if category_2.children %}
                        <ul>
                          {% for category_3 in category_2.children %}
                          <li><a href="{{ category_3.href }}">{{ category_3.name }}</a></li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{{ special }}">{{ text_special }}</a></li>
            <li><a href="{{ account }}">{{ text_account }}</a>
              <ul>
                <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                <li><a href="{{ password }}">{{ text_password }}</a></li>
                <li><a href="{{ address }}">{{ text_address }}</a></li>
                <li><a href="{{ history }}">{{ text_history }}</a></li>
                <li><a href="{{ download }}">{{ text_download }}</a></li>
              </ul>
            </li>
            <li>{{ text_products }}
              <ul>
                {% for product in products %}
                  <li>
                    <a href="{{ product.href }}">{{ product.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li><a href="{{ history }}">{{ text_cart }}</a></li>
            <li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
            <li><a href="{{ search }}">{{ text_search }}</a></li>
            <li>{{ text_articles }}
              <ul>
                {% for blog_category_1 in blog_categories %}
                  <li><a href="{{ blog_category_1.href }}">{{ blog_category_1.name }}</a>
                    {% if blog_category_1.children %}
                    <ul>
                      {% for blog_category_2 in blog_category_1.children %}
                      <li><a href="{{ blog_category_2.href }}">{{ blog_category_2.name }}</a>
                        {% if blog_category_2.children %}
                        <ul>
                          {% for blog_category_3 in blog_category_2.children %}
                          <li><a href="{{ blog_category_3.href }}">{{ blog_category_3.name }}</a></li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li>{{ text_articles }}
              <ul>
                {% for article in articles %}
                  <li>
                    <a href="{{ article.href }}">{{ article.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li>{{ text_information }}
              <ul>
                {% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
                <li><a href="{{ contact }}">{{ text_contact }}</a></li>
              </ul>
            </li>
            <li>{{ text_manufacturers }}
              <ul>
                {% for manufacturer in manufacturers %}
                <li><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}